<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGPA Calculator</title>
    <link rel="stylesheet" href="static/style.css">


</head>

<body>
    <h1>CGPA Calculator</h1>
    <form action="/calculate" method="POST">
        {% for i in range(6) %}
        <div>
            <label for="subject{{ i + 1 }}">Subject {{ i + 1 }}:</label>
            <input type="text" name="subject{{ i + 1 }}" required>
            <label for="grade{{ i + 1 }}">Grade:</label>
            <select name="grade{{ i + 1 }}" required>
                <option value="O">O</option>
                <option value="A+">A+</option>
                <option value="A">A</option>
                <option value="B+">B+</option>
                <option value="B">B</option>
            </select>
        </div>
        {% endfor %}
        <button type="submit">Calculate CGPA</button>
    </form>
</body>

</html>
